<?xml version="1.0" encoding="utf-8"?>

<robot name="wagen" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- SLAM settings-->
    <xacro:arg name="gpu" default="true"/>
    <xacro:property name="gpu" value="false" />
    <xacro:arg name="organize_cloud" default="false"/>
    <xacro:property name="organize_cloud" value="false" />

    <!-- Included robot urdf Files -->
    <xacro:include filename="$(find pudong)/urdf/pudong.xacro" />
    <xacro:pudong/>
    <xacro:include filename="$(find pudong)/urdf/HDL-32E-1.urdf.xacro"/>
    <xacro:HDL-32E-1/>
    <xacro:include filename="$(find pudong)/urdf/HDL-32E-2.urdf.xacro"/>
    <xacro:HDL-32E-2/>
    <xacro:include filename="$(find pudong)/urdf/peijian.xacro" />
    <xacro:peijian/>
    <xacro:include filename="$(find pudong)/urdf/IMU.xacro" />
    <xacro:IMU/>

    <!-- Included Gazebo parameters -->
    <xacro:include filename="$(find pudong_gazebo)/urdf/drive_pudong.gazebo" />
    <xacro:include filename="$(find pudong_gazebo)/urdf/transmission_pudong.xacro" />

</robot>
