<launch>

  <!--加载Gazebo模型-->
  <include file="$(find pudong_gazebo)/launch/EMPTY_map_model.launch"/>
  <!--点云-->
  <include file="$(find pudong_gazebo)/launch/SLAM/pointcloud_to_laserscan.launch"/>
  <!--打开joint_state_node节点-->
  <include file="$(find pudong_gazebo)/launch/joint_state_node.launch"/>
  <!--打开moveit并建立连接-->
  <include file="$(find pudong_gazebo)/launch/moveit_excution.launch"/>
  <!--自动抬起机械臂(guding_cswj)-->
  <node pkg="pudong_gazebo" name="guding_cswj" type="guding_cswj.py" output="screen" />
  <!--加载rviz-->
  <include file="$(find pudong_gazebo)/launch/SLAM/rviz_slam.launch"/>
  
</launch>
