<launch>

  <!-- Load the URDF, SRDF and other .yaml configuration files on the param server -->
  <include file="$(find pudong_moveit)/launch/planning_context.launch">
    <arg name="load_robot_description" value="true"/>
  </include>
  
  <!-- Run the main MoveIt executable with trajectory execution  -->
  <include file="$(find pudong_moveit)/launch/move_group.launch">
    <arg name="allow_trajectory_execution" value="true"/>
    <arg name="info" value="true"/>
    <arg name="debug" value="false"/>
    <arg name="pipeline" value="ompl"/>
  </include>
  
  <!-- Run Rviz and load the default config to see the state of the move_group node -->
  <include file="$(find pudong_moveit)/launch/moveit_rviz.launch">
    <arg name="rviz_config" value="$(find pudong_moveit)/launch/moveit.rviz"/>
    <arg name="debug" value="true"/>
  </include>



</launch>
