<launch>
  <!--加载Gazebo模型-->
  <include file="$(find pudong_gazebo)/launch/model_spawn.launch"/>
  
  <!--打开joint_state_node节点-->
  <include file="$(find pudong_gazebo)/launch/joint_state_node.launch"/>

  <!--打开moveit并建立连接-->
  <include file="$(find pudong_gazebo)/launch/moveit_excution.launch"/>
  
  <!--自动抬起机械臂(guding_cswj)-->
  <node pkg="pudong_gazebo" name="guding_cswj" type="guding_cswj.py" output="screen" />
  
  <!--建图-->
  <include file="$(find pudong_gazebo)/launch/SLAM/gmapping_map.launch"/>
  
</launch>
