<launch>

  <include file="$(find pudong_gazebo)/launch/SLAM/rviz_slam.launch">
  </include>
  <!--点云-->
  <include file="$(find pudong_gazebo)/launch/SLAM/pointcloud_to_laserscan.launch">
  </include>
  <!--gmapping算法-->
  <include file="$(find mbot_navigation)/launch/gmapping.launch">
  </include>
  <!--键盘控制-->
  <include file="$(find mbot_teleop)/launch/mbot_teleop.launch">
  </include>

</launch>
